.banner {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -217px;
        left: calc(-232px / 2);
        width: 232px;
        height: 217px;
        z-index: 1;
        background: url('../img/gear-left.png') no-repeat center center/contain;
    }

    &__img {
        width: 100%;
    }

    &__bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -70px;
        width: 100%;
        height: 127px;
        background: url('../img/pg-bottom.png') no-repeat center center/auto 100%;
        z-index: 2;
    }

    @include media-breakpoint-up(lg) {
        &::before {
            width: 474px;
            height: 456px;
            bottom: -456px;
            left: calc(-474px / 2);
        }

        &__bottom {
            bottom: -135px;
            height: 254px;
        }
    }
}