// Colors
$body-bg: black;
$body-color: #C4C4C4;

$bg-gd:linear-gradient(to bottom, rgba(227, 209, 182, 1) 0%, rgba(196, 134, 41, 1) 25%, rgba(135, 73, 31, 1) 70%, rgba(196, 134, 41, 1) 100%);
$gd-gray: linear-gradient(to bottom, white, gray);

// Fonts
$font-family-base: 'Prompt';

// Links
$link-hover-decoration: none;