#promotionPage {

    .promotions {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        &__item {
            margin-bottom: 40px;
        }

        &__link {
            position: relative;
            display: block;
            border: 2px solid #C48629;
            border-radius: 1rem;
            box-shadow: 0 .5rem 1rem rgba($black, .25);

            &::before,
            &:after {
                content: '';
                position: absolute;
                width: 356px;
                height: 12px;
                background-image: url('../../assets/img/light-promotion.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &::before {
                top: -6px;
                right: 0;
            }

            &::after {
                bottom: -6px;
                left: 0;
            }

            &:hover {
                filter: brightness(1.25) saturate(1.25);
            }
        }

        &__img {
            width: 100%;
            border-radius: 1rem;
        }

        @include media-breakpoint-up(lg) {
            &__item {
                margin-bottom: 80px;
            }

            &__link {
                border-radius: 1.25rem;

                &::before,
                &::after {
                    width: 727px;
                    height: 22px;
                }

                &::before {
                    top: -11px;
                }

                &::after {
                    bottom: -11px;
                }
            }

            &__img {
                border-radius: 1.25rem;
            }
        }
    }
}